<a-card title="门诊平均等待时长">
  <span slot="extra">
    <a-tooltip placement="left">
      <template slot="title"> 点击查看医技平均等待时长说明 </template>
      <a-icon
        theme="filled"
        type="question-circle"
        @click="openHelpReadMe"
        style="cursor: pointer; color: #3491fa; font-size: 16px"
      />
    </a-tooltip>
  </span>
  <div class="form">
    <a-form layout="inline" :form="formBuild">
      <a-form-item label="分诊诊室名称">
        <a-select
          allowClear
          style="width: auto; min-width: 250px"
          show-search
          option-filter-prop="children"
          :filter-option="filterOption"
          placeholder="请选择"
          v-model="formBuild.roomId"
          :dropdownMatchSelectWidth="true"
        >
          <a-select-option v-for="item in roomList" :key="item.roomId">
            <template>
              <a-row>
                <a-col> {{ item.roomName }} </a-col>
              </a-row>
            </template>
          </a-select-option>
        </a-select>
      </a-form-item>
      <a-form-item label="科室名称">
        <a-select
          allowClear
          show-search
          option-filter-prop="children"
          :filter-option="filterOption"
          style="width: auto; min-width: 200px"
          placeholder="请选择"
          v-model="formBuild.deptId"
          :dropdownMatchSelectWidth="false"
        >
          <a-select-option v-for="item in departmentList" :key="item.deptId">
            <template>
              <a-row>
                <a-col> {{ item.deptName }} </a-col>
              </a-row>
            </template>
          </a-select-option>
        </a-select>
      </a-form-item>
      <a-form-item label="诊结时间范围" prop="afternoonAppointmentTime">
        <a-range-picker
          :placeholder="['开始时间', '结束时间']"
          v-model="formBuild.dateList"
          :showTime="defaultShowTime"
          valueFormat="YYYY-MM-DD HH:mm:SS"
        >
        </a-range-picker>
      </a-form-item>
      <a-form-item>
        <a-button
          size="small"
          type="primary"
          @click="getTableData"
          style="margin: 0 6px"
          >查询</a-button
        >
        <a-button
          size="small"
          type="primary"
          @click="reset"
          style="margin: 0 6px"
          >重置</a-button
        >
        <a-button
          size="small"
          type="warning"
          @click="exportData"
          style="margin: 0 6px"
          >导出</a-button
        >
      </a-form-item>
    </a-form>
  </div>
  <div class="vertablt-tab">
    <a-table
      class="visitRecord"
      :columns="columns"
      :pagination="false"
      bordered
      :data-source="dataSource"
      :rowKey="(record, index) => { return index }"
    >
      <span slot="avgWaitDate" slot-scope="text, record">
        <span style="color: #409eff; cursor: pointer"
          >{{ text?text.substring(0, text.indexOf('.')+3):0 }}</span
        >
      </span>
      <span slot="avgWaitDateTip"><a-icon type="smile-o" /> Name</span>
      <span slot="smcAvgWaitDate" slot-scope="text, record">
        <span style="color: #409eff; cursor: pointer"
          >{{ text?text.substring(0, text.indexOf('.')+3):0 }}</span
        >
      </span>
      <span slot="waitDate" slot-scope="text, record">
        <span style="color: #409eff; cursor: pointer"
          >{{ text?text.substring(0, text.indexOf('.')+3):0 }}</span
        >
      </span>
      <span slot="smcWaitDate" slot-scope="text, record">
        <span style="color: #409eff; cursor: pointer"
          >{{ text?text.substring(0, text.indexOf('.')+3):0 }}</span
        >
      </span>
    </a-table>
    <a-modal
      title="门诊平均等待时长文档说明"
      :closable="true"
      :visible="visibleHelp"
      @ok="onCloseHelp"
      @cancel="onCloseHelp"
    >
      <p style="font-weight: 500">
        门诊平均等待时长包含：<strong
          >门诊诊室的科室、平均等待时间（最后一次叫号时间-分诊时间）、预约平均等待时间（最后一次叫号时间-预约时间）、统计人数。</strong
        >
      </p>
    </a-modal>
  </div>
</a-card>
